public/*
.next
yarn.lock
.gitignore
.prettierignore
.gitattributes
coverage
.tsBuildInfoFile
.stylelintcache
vitest.config.mts
vitest.setup.ts
next.config.js
stylelint.config.js
next-env.d.ts
playwright.config.ts
playwright-report
