.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.header {
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: var(--font-weight-500);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
  padding: 0;
}

.title {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-500);
  text-align: center;
}
