$border-radius-circle: 50%;
$border-radius-macro: 88px;
$border-radius-xxl: 32px;
$border-radius-xl: 20px;
$border-radius-lg: 16px;
$border-radius-md: 8px;
$border-radius-sm: 4px;
$border-radius-xs: 2px;
$border-radius-none: 0;
