$spacing-giga: 96px;
$spacing-lg: 32px;
$spacing-macro: 48px;
$spacing-md: 24px;
$spacing-mega: 60px;
$spacing-micro: 8px;
$spacing-nano: 4px;
$spacing-sm: 20px;
$spacing-xl: 36px;
$spacing-xs: 16px;
$spacing-xxl: 40px;
$spacing-xxs: 12px;
