@keyframes zoom-out {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.animation-zoom-out {
  animation: zoom-out 0.3s linear forwards;
}

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-move-up {
  animation: move-up 0.3s linear forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-fade-in {
  animation: fade-in 0.3s linear forwards;
}

@keyframes bounce-delay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.animation-bounce-delay {
  animation: bounce-delay 0.3s linear forwards;
}

.animation-move {
  animation: move 0.3s linear forwards;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.animation-rotate {
  animation: rotate 0.3s linear infinite;
}
