.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 40px;
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-600);
  text-align: center;
  text-shadow: 0 4px 13px var(--color-text-shadow);
  letter-spacing: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.wrapper_images {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  justify-content: center;
  padding: 0 8px;

  & img {
    position: relative !important;
  }

  @media (min-width: 600px) {
    & img {
      width: 155px !important;
      min-width: 155px !important;
      height: 155px !important;
    }

    & svg {
      width: 174px;
      min-width: 174px;
      height: 155px;
    }
  }
}

.title {
  margin-bottom: 16px;
  font-weight: var(--font-weight-500);
  text-align: center;
  color: var(--color-blue-light);
  text-shadow: 0 4px 13px var(--color-text-shadow);
  letter-spacing: 1px;
}
