@use 'theme' as T;

.container {
  display: flex;
  flex-direction: column;
  gap: T.$spacing-macro;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

.wrapperImages {
  display: flex;
  flex-wrap: wrap;
  gap: T.$spacing-xxl;
  width: 100%;
  padding: 0 T.$spacing-sm;
  justify-content: center;

  img {
    width: 77px !important;
    min-width: 77px !important;
    height: 77px !important;
    position: relative !important;
  }

  svg {
    width: 87px;
    min-width: 87px;
    height: 77px;
  }

  @include T.breakpoint-min('tablet') {
    img {
      width: 155px !important;
      min-width: 155px !important;
      height: 155px !important;
    }

    svg {
      width: 174px;
      min-width: 174px;
      height: 155px;
    }
  }
}

.title {
  font-weight: T.$font-weight-regular;
  text-align: center;
}
